@model List<Brand>

@{
    ViewData["Title"] = "Index";
}




<p>
    <a class="btn btn-light" asp-area="Admin" asp-action="Create" asp-controller="Brand">Create New Brand</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
            <td>
                <a class="btn btn-light" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-light" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-light" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
