@{
    ViewData["Title"] = "Home Page";
}
@{
    var newProduct = ViewBag.newProducts;
    var bestSeller =  ViewBag.bestSeller ;
    var hotSale =  ViewBag.hotSale ;
    var trendingProducts = ViewBag.trendingProducts;
    var topSellinProducts = ViewBag.topSellinProducts;
}
<main class="main">
    <audio id="audio" src="~/assets/click.mp3"></audio>
    <div class="intro-section pt-3 pb-3 mb-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-slider-container slider-container-ratio mb-2 mb-lg-0">
                        <div class="intro-slider owl-carousel owl-simple owl-dark owl-nav-inside" data-toggle="owl" data-owl-options='{
                                        "nav": false,
                                        "dots": true,
                                        "responsive": {
                                            "768": {
                                                "nav": true,
                                                "dots": false
                                            }
                                        }
                                    }'>
                            @for (int i = 1; i <= 10; i++)
                            {
                                <div class="intro-slide">
                                    <figure class="slide-image">
                                        <picture>
                                                <source media="(max-width: 480px)" srcset="@Url.Content("~/assets/images/demos/demo-3/slider/" + i + ".jpg")">
                                                        <img srcset="@Url.Content("~/assets/images/demos/demo-3/slider/" + i + ".jpg")" alt="Image Desc">
                                           

                                        </picture>
                                    </figure>

                           
                                </div><!-- End .intro-slider owl-carousel owl-simple -->
                            }

                        <span class="slider-loader"></span><!-- End .slider-loader -->
                    </div><!-- End .intro-slider-container -->
                </div><!-- End .col-lg-8 -->

            </div><!-- End .container -->
        </div><!-- End .intro-section -->

        <div class="container featured" style="margin-top:50px">
            <ul class="nav nav-pills nav-border-anim nav-big justify-content-center mb-3" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="products-featured-link" data-toggle="tab" href="#products-featured-tab" role="tab" aria-controls="products-featured-tab" aria-selected="true">New Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="products-sale-link" data-toggle="tab" href="#products-sale-tab" role="tab" aria-controls="products-sale-tab" aria-selected="false">Best Seller</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="products-top-link" data-toggle="tab" href="#products-top-tab" role="tab" aria-controls="products-top-tab" aria-selected="false">Hot Sale</a>
                </li>
            </ul>

            <div class="tab-content tab-content-carousel">
                <div class="tab-pane p-0 fade show active" id="products-featured-tab" role="tabpanel" aria-labelledby="products-featured-link">
                    <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl"
                         data-owl-options='{
                                "nav": true,
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "600": {
                                        "items":2
                                    },
                                    "992": {
                                        "items":3
                                    },
                                    "1200": {
                                        "items":4
                                    }
                                }
                            }'>
                            @foreach(var item in newProduct)
                            {

                                <div class="product product-2" style="height:400px">
                                    <figure class="product-media">
                                        @if (item.RealseDate.Year == DateTime.Now.Year - 1)
                                        {
                                            <span class="product-label label-circle label-new">New</span>

                                        }

                                       @* @if (item.Sale > 0)
                                        {
                                            <span class="product-label label-circle label-sale">-@item.Sale</span>
                                        }*@
                                        

                                        <a href="#">
                                            <img width="5" height="221" src="~/assets/images/ourimages/@item?.Images[0]?.ImageUrl" alt="Product image" class="product-image">
                                        </a>
@*                                        add to wishList
*@                                        <div class="product-action-vertical" onclick="addToWishList(@item.Id)">
                                            <a  class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                        </div><!-- End .product-action -->

                                        <div class="product-action product-action-dark" onclick="addToCart(@item.Id)">
                                            <a  class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
                                            
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a asp-action="Index" asp-controller="Shop" asp-route-category="@item.Category.Name">@item.Category.Name</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a asp-action="Details" asp-controller="Products" asp-route-id="@item.Id" >@item.Name</a></h3><!-- End .product-title -->
                                        <div class="product-price">
                                            @item.Price
                                        </div><!-- End .product-price -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            }
                       

                    </div><!-- End .owl-carousel -->
                </div><!-- .End .tab-pane -->
                <div class="tab-pane p-0 fade" id="products-sale-tab" role="tabpanel" aria-labelledby="products-sale-link">
                    <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl"
                         data-owl-options='{
                                "nav": true,
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "600": {
                                        "items":2
                                    },
                                    "992": {
                                        "items":3
                                    },
                                    "1200": {
                                        "items":4
                                    }
                                }
                            }'>
                        @foreach (var item in bestSeller)
                        {

                                <div class="product product-2" style="height:400px">
                                    <figure class="product-media">
                                       @* @if (item.RealseDate.Year == DateTime.Now.Year - 1)
                                        {
                                            <span class="product-label label-circle label-new">New</span>

                                        }*@

                                        ///////////////////
                                        @*@if (item.Sale > 0)
                                        {
                                            <span class="product-label label-circle label-sale">-@item.Sale</span>
                                        }*@
                                        <a href="#">
                                            <img src="~/assets/images/ourimages/@item?.Images[0]?.ImageUrl" alt="Product image" class="product-image">
                                        </a>
@*                                        add to wishList
                                    *@
                                        <div class="product-action-vertical" onclick="addToWishList(@item.Id)">
                                            <a  class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                        </div><!-- End .product-action -->

                                        <div class="product-action product-action-dark" onclick="addToCart(@item.Id)">
                                            <a  class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
                                            
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body">
                                        <div class="product-cat">
                                            <a href="#">@item.Category.Name</a>
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a asp-action="Details" asp-controller="Products" asp-route-id="@item.Id">@item.Name</a></h3><!-- End .product-title -->
                                        <div class="product-price">
                                            @item.Price
                                        </div><!-- End .product-price -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            }
                    </div><!-- End .owl-carousel -->
                </div><!-- .End .tab-pane -->
                <div class="tab-pane p-0 fade" id="products-top-tab" role="tabpanel" aria-labelledby="products-top-link">
                    <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl"
                         data-owl-options='{
                                "nav": true,
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "600": {
                                        "items":2
                                    },
                                    "992": {
                                        "items":3
                                    },
                                    "1200": {
                                        "items":4
                                    }
                                }
                            }'>
                        @foreach (var item in hotSale)
                        {

                                <div class="product product-2" style="height:400px">
                                <figure class="product-media">

                                     @*   @if (item.RealseDate.Year == DateTime.Now.Year - 1)
                                        {
                                            <span class="product-label label-circle label-new">New</span>

                                        }*@
                                        @if (item.Sale > 0)
                                        {
                                            <span class="product-label label-circle label-sale">-@item.Sale%</span>
                                        }
                                    <a href="#">
                                        <img src="~/assets/images/ourimages/@item?.Images[0]?.ImageUrl" alt="Product image" class="product-image">
                                    </a>
                                   
                                        <div class="product-action-vertical" onclick="addToWishList(@item.Id)">
                                        <a  class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                    </div><!-- End .product-action -->

                                        <div class="product-action product-action-dark" onclick="addToCart(@item.Id)">
                                        <a class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>

                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <div class="product-cat">
                                        <a href="#">@item.Category.Name</a>
                                    </div><!-- End .product-cat -->
                                    <h3 class="product-title"><a asp-action="Details" asp-controller="Products" asp-route-id="@item.Id">@item.Name</a></h3><!-- End .product-title -->
                                    <div class="product-price">
                                        @item.Price
                                    </div><!-- End .product-price -->
                                </div><!-- End .product-body -->
                            </div>

                            <!-- End .product -->
                        }

                        
                    </div><!-- End .owl-carousel -->
                </div><!-- .End .tab-pane -->
            </div><!-- End .tab-content -->
        </div><!-- End .container -->
        <br />
        <br />
        <div class="container trending">

            <div class="heading heading-flex mb-3">
                <div class="heading-left">
                    <h2 class="title">Trending Products</h2><!-- End .title -->
                </div><!-- End .heading-left -->

                <div class="heading-right">
                    <ul class="nav nav-pills nav-border-anim justify-content-center" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="trending-all-link" data-toggle="tab" href="#trending-all-tab" role="tab" aria-controls="trending-all-tab" aria-selected="true">All</a>
                        </li>
                        @foreach (var item in trendingProducts)
                        {
                            <li class="nav-item">
                                <a class="nav-link" id="1" data-toggle="tab" href="#trending-@item.Key" role="tab" aria-controls="trending-tv-tab" aria-selected="false">@item.Key</a>
                            </li>
                        }


                    </ul>
                </div><!-- End .heading-right -->
            </div><!-- End .heading -->

            <div class="row">
                <div class="col-xl-5col d-none d-xl-block">
                    <div class="banner">
                        <a href="#">
                            <img src="~/assets/images/demos/demo-3/banners/banner-4.jpg" alt="banner">
                        </a>
                    </div><!-- End .banner -->
                </div><!-- End .col-xl-5col -->


                <div class="col-xl-4-5col">
                    <div class="tab-content tab-content-carousel just-action-icons-sm">
                        <div class="tab-pane p-0 fade show active" id="trending-all-tab" role="tabpanel" aria-labelledby="trending-all-link">
                            <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl"
                                 data-owl-options='{
                                        "nav": true,
                                        "dots": false,
                                        "margin": 20,
                                        "loop": false,
                                        "responsive": {
                                            "0": {
                                                "items":2
                                            },
                                            "480": {
                                                "items":2
                                            },
                                            "768": {
                                                "items":3
                                            },
                                            "992": {
                                                "items":4
                                            }
                                        }
                                    }'>
                                @foreach (var item in newProduct)
                                {
                                        <div class="product product-2" style="height:400px">
                                        <figure class="product-media">
                                            @*@if (item.RealseDate.Year == DateTime.Now.Year - 1)
                                            {
                                                <span class="product-label label-circle label-new">New</span>

                                            }
                                            @if (item.Sale > 0)
                                            {
                                                <span class="product-label label-circle label-sale">-@item.Sale</span>
                                            }*@
                                            <a href="#">
                                            <img style="height:250px;" src="~/assets/images/ourimages/@item?.Images[0]?.ImageUrl" alt="Product image" class="product-image">
                                            </a>

                                                <div class="product-action-vertical" onclick="addToWishList(@item.Id)">
                                                <a  class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                            </div><!-- End .product-action -->

                                                <div class="product-action product-action-dark" onclick="addToCart(@item.Id)">
                                                <a  class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
                                            </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <div class="product-cat">
                                                <a href="#">@item.Category.Name</a>
                                            </div><!-- End .product-cat -->
                                                <h3 class="product-title"><a asp-action="Details" asp-controller="Products" asp-route-id="@item.Id">@item.Name </a></h3><!-- End .product-title -->
                                            <div class="product-price">
                                                @string.Format("{0:C}",item.Price)
                                            </div><!-- End .product-price -->

                                        </div><!-- End .product-body -->
                                    </div>

                                    <!-- End .product -->
                                }
                            </div>
                        </div>
                        @foreach (var item in trendingProducts)
                        {
                            <div class="tab-pane p-0 fade" id="trending-@item.Key" role="tabpanel" aria-labelledby="">
                                <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl"
                                 data-owl-options='{
                                            "nav": true,
                                            "dots": false,
                                            "margin": 20,
                                            "loop": false,
                                            "responsive": {
                                                "0": {
                                                    "items":2
                                                },
                                                "480": {
                                                    "items":2
                                                },
                                                "768": {
                                                    "items":3
                                                },
                                                "992": {
                                                    "items":4
                                                }
                                            }
                                        }'>
                                    @foreach (var product in item.Value)
                                    {

                                            <div class="product product-2" style="height:400px">
                                            <figure class="product-media">
                                                
                                                    @*@if (product.RealseDate.Year == DateTime.Now.Year - 1)
                                                    {
                                                        <span class="product-label label-circle label-new">New</span>

                                                    }
                                                    @if (product.Sale > 0)
                                                    {
                                                        <span class="product-label label-circle label-sale">-@product.Sale</span>
                                                    }*@
                                                <span class="product-label label-circle label-top">Top</span>
                                                <a href="#">
                                                        <img style="height:250px;" src="~/assets/images/ourimages/@product?.Images[0]?.ImageUrl" alt="Product image" class="product-image">
                                                </a>

                                                    <div class="product-action-vertical" onclick="addToWishList(@product.Id)">
                                                    <a  class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                                </div><!-- End .product-action -->

                                                    <div class="product-action product-action-dark" onclick="addToCart(@product.Id)">
                                                    <a  class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
                                                </div><!-- End .product-action -->
                                            </figure><!-- End .product-media -->

                                            <div class="product-body">
                                                <div class="product-cat">
                                                    <a href="#">@product.Category.Name</a>
                                                </div><!-- End .product-cat -->
                                                    <h3 class="product-title"><a asp-action="Details" asp-controller="Products" asp-route-id="@product.Id">@product.Name</a></h3><!-- End .product-title -->
                                                <div class="product-price">
                                                    @string.Format("{0:C}",product.Price)
                                                </div><!-- End .product-price -->
                                            </div><!-- End .product-body -->
                                        </div>

                                        <!-- End .product -->
                                    }

                                </div>

                                <!-- End .owl-carousel -->
                            </div>

                            <!-- .End .tab-pane -->
                        }


                    </div><!-- End .tab-content -->
                </div>
                <!-- End .col-xl-4-5col -->

            </div><!-- End .row -->
        </div>
    </div><!-- End .container -->
     <div class="container">
                <hr class="mt-5 mb-6">
            </div><!-- End .container -->

            <div class="container top">
                <div class="heading heading-flex mb-3">
                    <div class="heading-left">
                        <h2 class="title">Top Selling Products</h2><!-- End .title -->
                    </div><!-- End .heading-left -->

                    <div class="heading-right">
                        <ul class="nav nav-pills nav-border-anim justify-content-center" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="top-all-link" data-toggle="tab" href="#top-all-tab" role="tab" aria-controls="top-all-tab" aria-selected="true">All</a>
                            </li>
                            @foreach (var item in topSellinProducts)
                            {
                               <li class="nav-item">
                                <a class="nav-link" id="2" data-toggle="tab" href="#top-@item.Key" role="tab" aria-controls="top-tv-tab" aria-selected="false">@item.Key</a>
                               </li>
                            }
                           
                        </ul>
                    </div><!-- End .heading-right -->
                </div><!-- End .heading -->

                <div class="tab-content tab-content-carousel just-action-icons-sm">
                    <div class="tab-pane p-0 fade show active" id="top-all-tab" role="tabpanel" aria-labelledby="top-all-link">
                        <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl"
                             data-owl-options='{
                                "nav": true,
                                "dots": false,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "0": {
                                        "items":2
                                    },
                                    "480": {
                                        "items":2
                                    },
                                    "768": {
                                        "items":3
                                    },
                                    "992": {
                                        "items":4
                                    },
                                    "1200": {
                                        "items":5
                                    }
                                }
                            }'>
                    @foreach (var item in bestSeller)
                    {
                            <div class="product product-2" style="height:400px">
                            <figure class="product-media">
                                    @*@if (item.RealseDate.Year == DateTime.Now.Year - 1)
                                    {
                                        <span class="product-label label-circle label-new">New</span>

                                    }*@
                                    @if (item.Sale > 0)
                                    {
                                        <span class="product-label label-circle label-sale">-@item.Sale</span>
                                    }
                                @*<span class="product-label label-circle label-new">New</span>*@
                                <a href="#">
                                        <img style="height:250px;" src="~/assets/images/ourimages/@item?.Images[0]?.ImageUrl" alt="Product image" class="product-image">
                                </a>

                                    <div class="product-action-vertical" onclick="addToWishList(@item.Id)">
                                    <a  class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                </div><!-- End .product-action -->

                                    <div class="product-action product-action-dark" onclick="addToCart(@item.Id)">
                                    <a  class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">@item.Category.Name</a>
                                </div><!-- End .product-cat -->
                                    <h3 class="product-title"><a asp-action="Details" asp-controller="Products" asp-route-id="@item.Id">@item.Name </a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    @string.Format("{0:C}",item.Price)
                                </div><!-- End .product-price -->

                            </div><!-- End .product-body -->
                        </div>

                        <!-- End .product -->
                    }
                        </div><!-- End .owl-carousel -->
                    </div><!-- .End .tab-pane -->
                    @foreach (var items in topSellinProducts)
                    {

                            <div class="tab-pane p-0 fade" id="top-@items.Key" role="tabpanel" aria-labelledby="top-tv-link">
                                <div class="owl-carousel owl-full carousel-equal-height carousel-with-shadow" data-toggle="owl"
                                     data-owl-options='{
                                        "nav": true,
                                        "dots": false,
                                        "margin": 20,
                                        "loop": false,
                                        "responsive": {
                                            "0": {
                                                "items":2
                                            },
                                            "480": {
                                                "items":2
                                            },
                                            "768": {
                                                "items":3
                                            },
                                            "992": {
                                                "items":4
                                            },
                                            "1200": {
                                                "items":5
                                            }
                                        }
                                    }'>
                                @foreach (var product in items.Value)
                                {

                                <div class="product product-2" style="height:400px">
                                        <figure class="product-media">
                                        @*@if (product.RealseDate.Year == DateTime.Now.Year - 1)
                                        {
                                            <span class="product-label label-circle label-new">New</span>

                                        }*@
                                        @if (product.Sale > 0)
                                        {
                                            <span class="product-label label-circle label-sale">-@product.Sale</span>
                                        }
                                            <a href="#">
                                            <img style="height:250px;" src="~/assets/images/ourimages/@product?.Images[0]?.ImageUrl" alt="Product image" class="product-image">
                                            </a>

                                        <div class="product-action-vertical" onclick="addToWishList(@product.Id)">
                                                <a  class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                            </div><!-- End .product-action -->

                                        <div class="product-action product-action-dark" onclick="addToCart(@product.Id)">
                                                <a  class="btn-product btn-cart" title="Add to cart"><span>add to cart</span></a>
                                            </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <div class="product-cat">
                                                <a href="#">@product.Category.Name</a>
                                            </div><!-- End .product-cat -->
                                        <h3 class="product-title"><a asp-action="Details" asp-controller="Products" asp-route-id="@product.Id">@product.Name</a></h3><!-- End .product-title -->
                                            <div class="product-price">
                                                @string.Format("{0:C}",product.Price)
                                            </div><!-- End .product-price -->
                                        </div><!-- End .product-body -->
                                    </div>

                                    <!-- End .product -->
                                }

                            </div>

                            <!-- End .owl-carousel -->
                        </div>

                        <!-- .End .tab-pane -->
                    }

                </div><!-- End .tab-content -->
            </div><!-- End .container -->

            <div class="container">
                <hr class="mt-5 mb-0">
            </div><!-- End .container -->
    <div class="icon-boxes-container mt-2 mb-2 bg-transparent">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="icon-box icon-box-side">
                        <span class="icon-box-icon text-dark">
                            <i class="icon-rocket"></i>
                        </span>
                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Free Shipping</h3><!-- End .icon-box-title -->
                            <p>Orders $50 or more</p>
                        </div><!-- End .icon-box-content -->
                    </div><!-- End .icon-box -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="icon-box icon-box-side">
                        <span class="icon-box-icon text-dark">
                            <i class="icon-rotate-left"></i>
                        </span>

                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Free Returns</h3><!-- End .icon-box-title -->
                            <p>Within 30 days</p>
                        </div><!-- End .icon-box-content -->
                    </div><!-- End .icon-box -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="icon-box icon-box-side">
                        <span class="icon-box-icon text-dark">
                            <i class="icon-info-circle"></i>
                        </span>

                        <div class="icon-box-content">
                            <h3 class="icon-box-title">Get 20% Off 1 Item</h3><!-- End .icon-box-title -->
                            <p>when you sign up</p>
                        </div><!-- End .icon-box-content -->
                    </div><!-- End .icon-box -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="icon-box icon-box-side">
                        <span class="icon-box-icon text-dark">
                            <i class="icon-life-ring"></i>
                        </span>

                        <div class="icon-box-content">
                            <h3 class="icon-box-title">We Support</h3><!-- End .icon-box-title -->
                            <p>24/7 amazing services</p>
                        </div><!-- End .icon-box-content -->
                    </div><!-- End .icon-box -->
                </div><!-- End .col-sm-6 col-lg-3 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .icon-boxes-container -->
    <div class="container">
        <div class="cta cta-separator cta-border-image cta-half mb-0" style="background-image: url(assets/images/demos/demo-3/bg-2.jpg);">
            <div class="cta-border-wrapper bg-white">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="cta-wrapper cta-text text-center">
                            <h3 class="cta-title">Shop Social</h3><!-- End .cta-title -->
                            <p class="cta-desc">Follow our pages </p><!-- End .cta-desc -->

                            <div class="social-icons social-icons-colored justify-content-center">
                                <a href="#" class="social-icon social-facebook" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                                <a href="#" class="social-icon social-twitter" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                                <a href="#" class="social-icon social-instagram" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                                <a href="#" class="social-icon social-youtube" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
                                <a href="#" class="social-icon social-pinterest" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                            </div><!-- End .soial-icons -->
                        </div><!-- End .cta-wrapper -->
                    </div><!-- End .col-lg-6 -->

                    <div class="col-lg-6">
                        <div class="cta-wrapper text-center">
                            <h3 class="cta-title">Get the Latest Deals</h3><!-- End .cta-title -->
                            <br />
                            <form action="#">
                                <div class="input-group">
                                    <input type="email" class="form-control" placeholder="Enter your Email Address" aria-label="Email Adress" required>
                                    <div class="input-group-append">
                                        <button class="btn btn-primary btn-rounded" type="submit"><i class="icon-long-arrow-right"></i></button>
                                    </div><!-- .End .input-group-append -->
                                </div><!-- .End .input-group -->
                            </form>
                        </div><!-- End .cta-wrapper -->
                    </div><!-- End .col-lg-6 -->
                </div><!-- End .row -->
            </div><!-- End .bg-white -->
        </div><!-- End .cta -->
    </div><!-- End .container -->
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>

    
    
    function addToCart(productId) {
        var audio = document.getElementById("audio");
        audio.play();
        console.log(productId);
        $.ajax({
            type: "Get",
            url:'/CartItems/_AddToCart',
            contentType: "application/json; charset=utf-8",
            data: { id: productId },
            dataType: "html",
            success: function (data) {
                console.log("succ");
                 $("#cartCount").empty();
                $("#cartCount").html(data);
            }, error: function (error) {
                console.log("error");


            }
        });
    }

    function addToWishList(productId) {
        var audio = document.getElementById("audio");
        audio.play();
        console.log(productId);
        $.ajax({
            type: "Get",
            url: '/WishListItems/_AddToWishList',
            contentType: "application/json; charset=utf-8",
            data: { id: productId },
            dataType: "html",
            success: function (data) {
                console.log("succ");
                $("#wishCount").empty();
                $("#wishCount").html(data);
            }, error: function (error) {
                console.log("error");


            }
        });
    }

</script>