@using projectMVC.Enums;
@using System.Security.Claims;
@using Microsoft.AspNetCore.Identity;
@using projectMVC.Models
@model projectMVC.Models.Product

@{
    ViewData["Title"] = "Details";



}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-yH/Rt7vA1rOU9tTlJQSAQbo1nJ/nLj58xJ7UNk8YqWVgyLyvZJ9uV7G+hb8eWVzCvPZhJERw7FpY8Wq7Vzv/GQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .red {
        background-color: red;
        color: red;
    }
</style>


<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container d-flex align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Products</a></li>
                <li class="breadcrumb-item active" aria-current="page">With Sidebar</li>
            </ol>

            <nav class="product-pager ml-auto" aria-label="Product">
                <!-- <a class="product-pager-link product-pager-prev" href="#" aria-label="Previous" tabindex="-1">
                <i class="icon-angle-left"></i> -->
                <!-- <span>Prev</span>
                </a> -->
                <!-- <a class="product-pager-link product-pager-next" href="#" aria-label="Next" tabindex="-1">
                <span>Next</span>
                <i class="icon-angle-right"></i>
                </a> -->
            </nav><!-- End .pager-nav -->
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="product-details-top">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="product-gallery">
                                    <figure class="product-main-image">

                                        <img id="product-zoom" src="~/assets/images/ourimages/@Model.Name.Replace(" " ,"")1.jpg" data-zoom-image="~/assets/images/products/single/sidebar-gallery/1-big.jpg" alt="product image">

                                        <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                            <i class="icon-arrows"></i>
                                        </a>
                                    </figure><!-- End .product-main-image -->

                                    <div id="product-zoom-gallery" class="product-image-gallery">

                                        @for (int i = 0; i < Model.Images.Count; i++)
                                        {

                                            <a onclick="setImageZoom(this)" class="product-gallery-item active" data-image="~/assets/images/products/single/sidebar-gallery/1.jpg" data-zoom-image="assets/images/products/single/sidebar-gallery/1-big.jpg">
                                                <img src="~/assets/images/ourimages/@Model.Images[i].ImageUrl" alt="product side">
                                            </a>
                                        }


                                    </div><!-- End .product-image-gallery -->
                                </div><!-- End .product-gallery -->
                            </div><!-- End .col-md-6 -->

                            <div class="col-md-6">


                                <form asp-action="AddToCart" asp-controller="CartItems" asp-route-ProductId= "@Model.Id" method="post">
                                    <div class="product-details product-details-sidebar">

                                        <h1 class="product-title">
                                            @Html.DisplayFor(model => model.Name)
                                        </h1>
                                        <div class="product-price">
                                            @string.Format("{0:C}",Model.Price)
                                        </div>

                                        <div class="product-content">
                                            <p>@Html.DisplayFor(model => model.ShortDescrition)</p>
                                        </div>

                                        <div class="details-filter-row details-row-size">
                                            <label>Color : @((ProductColors)Model.Color)</label>


                                        </div><!-- End .details-filter-row -->


                                        <div class="product-details-action">
                                            <div class="details-action-col">
                                                <label for="qty">Qty:</label>
                                                <div class="product-details-quantity">
                                                    <input type="number" id="quantity" name="quantity" min="1" value="1" />
                                                </div><!-- End .product-details-quantity -->


                                                <button class="btn-product btn-cart" type="submit" onclick="addToCart()"><span>add to cart</span></button>
                                                <script>
                                                    function addToCart() {
                                                        const quantityInput = document.getElementById("quantity");
                                                        const quantity = quantityInput.value;
                                                        console.log(quantity);
                                                        // Add the selected item to the cart with the selected quantity
                                                        addToCartFunction(item, quantity);
                                                    }
                                                </script>

                                            </div><!-- End .details-action-col -->
                                            @*//changeColorWishList
                                            //onclick="location.href='@Url.Action("AddToWishList","WishListItems",new{ProductId=Model.Id})'"*@
                                            <div class="details-action-wrapper">
                                                @if (ViewBag.WishlistHeart.Count <= 0)
                                                {
                                                    <a  class="btn-product btn-wishlist" title="Wishlist"></a>
                                                    <a asp-action="AddToWishList" asp-controller="WishListItems" asp-route-ProductId=@Model.Id onclick="changeColorWishList();" id="wishlistColor" class="btn-product " title="Wishlist">  <span>  Add to Wishlist</span></a>
                                                }
                                                else
                                                {
                                                    @*<i class="fa-solid fa-heart fa-2xl" style="color: #b50303;margin-right:3px"></i>*@
                                                    <i class="fa-sharp fa-solid fa-heart fa-xl" style="color: #ed0707;margin-right:3px"></i>

                                                    <a asp-action="AddToWishList" asp-controller="WishListItems" asp-route-ProductId=@Model.Id onclick="changeColorWishList();" id="wishlistColor" class="btn-product  " title="Wishlist"> <span> Remove From Wishlist</span></a>
                                                }
                                            </div>
                                        </div>
                                        <script>
                                            const heart = document.querySelector('.myClass');
                                            function changeColorWishList() {
                                                heart.classList.toggle('red');
                                            }

                                        </script>

                                        @* <div class="product-details-footer details-footer-col">
                                        <div class="product-cat">
                                        <span>Category:</span>
                                        <a href="#">Women</a>,
                                        <a href="#">Dresses</a>,
                                        <a href="#">Yellow</a>
                                        </div><!-- End .product-cat -->*@

                                        <div class="social-icons social-icons-sm">
                                            <span class="social-label">Share:</span>
                                            <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                                            <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                                            <a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                                            <a href="#" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                                        </div>

                                    </div>

                                </form>



                            </div><!-- End .col-md-6 -->
                        </div><!-- End .row -->
                    </div><!-- End .product-details-top -->

                    <div class="product-details-tab">
                        <ul class="nav nav-pills justify-content-center" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="product-desc-link" data-toggle="tab" href="#product-desc-tab" role="tab" aria-controls="product-desc-tab" aria-selected="true">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="product-info-link" data-toggle="tab" href="#product-info-tab" role="tab" aria-controls="product-info-tab" aria-selected="false">Additional information</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="product-shipping-link" data-toggle="tab" href="#product-shipping-tab" role="tab" aria-controls="product-shipping-tab" aria-selected="false">Shipping & Returns</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="product-review-link" data-toggle="tab" href="#product-review-tab" role="tab" aria-controls="product-review-tab" aria-selected="false">Reviews</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel" aria-labelledby="product-desc-link">
                                <div class="product-desc-content">
                                    <h3>Product Information</h3>
                                    <p> @Html.DisplayFor(model => model.Description)</p>



                                </div>
                            </div><!-- .End .tab-pane -->
                            <div class="tab-pane fade" id="product-info-tab" role="tabpanel" aria-labelledby="product-info-link">
                                <div class="product-desc-content">
                                    <h3>Information</h3>
                                    @foreach (var item in Model.ProductInfos)
                                    {

                                        <h3>@item.Info</h3>

                                    }



                                </div>
                                <!-- End .product-desc-content -->
                            </div><!-- .End .tab-pane -->
                            <div class="tab-pane fade" id="product-shipping-tab" role="tabpanel" aria-labelledby="product-shipping-link">
                                <div class="product-desc-content">
                                    <h3>Delivery & returns</h3>
                                    <p>
                                        We deliver to over 100 countries around the world. For full details of the delivery options we offer, please view our <a href="#">Delivery information</a><br>
                                        We hope you’ll love every purchase, but if you ever need to return an item you can do so within a month of receipt. For full details of how to make a return, please view our <a href="#">Returns information</a>
                                    </p>
                                </div><!-- End .product-desc-content -->
                            </div><!-- .End .tab-pane -->
                            <div class="tab-pane fade" id="product-review-tab" role="tabpanel" aria-labelledby="product-review-link">
                                <div class="reviews">
                                    <h3>Reviews </h3>
                                    @foreach (var item in Model.reviews)
                                    {
                                        <div class="review">
                                            <div class="row no-gutters">
                                                <div class="col-auto" style="border-right:solid 1px lightgrey; margin-right:7px">
                                                    @if (!string.IsNullOrEmpty(item?.User?.Picture))
                                                    {
                                                        <img src="~/assets/images/UserImages/@item.User.Picture" width="40" height="40" class="rounded-circle" style="display:inline">

                                                    }else
                                                    {
                                                        <img src="~/assets/images/profile.jpg" width="40" height="40" class="rounded-circle" style="display:inline">
                                                    }
                                                    
                                                    
                                                    <h4>@item?.User?.UserName </h4>
                                                </div><!-- End .col -->
                                                <div class="col">

                                                    <div class="review-content">
                                                        <p>@item.ReviewDescription</p>
                                                    </div><!-- End .review-content -->

                                                </div><!-- End .col-auto -->
                                            </div><!-- End .row -->
                                        </div>

                                        <!-- End .review -->
                                    }


                                    <!-- End .review -->
                                </div><!-- End .reviews -->
                            </div><!-- .End .tab-pane -->
                        </div><!-- End .tab-content -->
                    </div><!-- End .product-details-tab -->

                    <h2 class="title text-center mb-4">You May Also Like</h2><!-- End .title text-center -->
                    <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl"
                         data-owl-options='{
                                    "nav": false,
                                    "dots": true,
                                    "margin": 20,
                                    "loop": false,
                                    "responsive": {
                                        "0": {
                                            "items":1
                                        },
                                        "480": {
                                            "items":2
                                        },
                                        "768": {
                                            "items":3
                                        },
                                        "992": {
                                            "items":4
                                        },
                                        "1200": {
                                            "items":4,
                                            "nav": true,
                                            "dots": false
                                        }
                                    }
                                }'>


                        @foreach (var item in ViewBag.CategoryRelated as List<Product>)
                        {
                            <div class="product product-7 text-center">
                                <figure class="product-media">
                                    @if (item.RealseDate.Year == DateTime.Now.Year - 1)
                                    {
                                        <span class="product-label label-new">New</span>

                                    }
                                    <a href="product.html">
                                        <img src="~/assets/images/ourimages/@item.Images[0].ImageUrl" alt="Product image" class="product-image">
                                    </a>

                                    <div class="product-action-vertical">
                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>

                                    </div><!-- End .product-action-vertical -->

                                    <div class="product-action">
                                        <a href="~/CartItems/AddToCart" class="btn-product btn-cart"><span>add to cart</span></a>
                                    </div><!-- End .product-action -->
                                </figure><!-- End .product-media -->

                                <div class="product-body">
                                    <div class="product-cat">
                                        <a href="#">@item.Category.Name</a>
                                    </div><!-- End .product-cat -->

                                    <h3 class="product-title">
                                        <a asp-action="Details" asp-route-id="@item.Id">@item.Name</a>
                                    </h3>
                                    <h3 class="product-title"><a href="product.html"></a></h3><!-- End .product-title -->
                                    <div class="product-price">
                                        @string.Format("{0:C}",@item.Price)
                                    </div><!-- End .product-price -->

                                </div><!-- End .product-body -->
                            </div>

                            <!-- End .product -->
                        }
                        
                       
                    </div><!-- End .owl-carousel -->
                </div><!-- End .col-lg-9 -->

                <aside class="col-lg-3">
                    <div class="sidebar sidebar-product">
                        <div class="widget widget-products">
                            <h4 class="widget-title">Related Product</h4><!-- End .widget-title -->

                            <div class="products">
                                @foreach (var product in ViewBag.RelatedProducts as List<Product>)
                                {
                                    <div class="product product-sm">
                                        <figure class="product-media">
                                            <a asp-action="Details" asp-route-id="@product.Id">
                                                <img src="~/assets/images/ourimages/@product.Images[0].ImageUrl" alt="Product image" class="product-image">
                                            </a>
                                        </figure>

                                        <div class="product-body">
                                            <h5 class="product-title"><a asp-action="Details" asp-route-id="@product.Id">@product.Name</a></h5><!-- End .product-title -->
                                            <div class="product-price">
                                                @string.Format("{0:C}",product.Price)

                                            </div><!-- End .product-price -->
                                        </div><!-- End .product-body -->
                                    </div>

                                    <!-- End .product product-sm -->
                                }



                            </div><!-- End .products -->

                            <a asp-action="Index" asp-controller="Shop" class="btn btn-outline-dark-3"><span>View More Products</span><i class="icon-long-arrow-right"></i></a>
                        </div><!-- End .widget widget-products -->

                        <div class="widget widget-banner-sidebar">
                            <div>
                                <form asp-action="create" asp-controller="reviews" asp-route-ProductId=@Model.Id method="post">



                                    <div class="form-group">

                                        <label class="control-label">ReviewDescription</label>
                                        <textarea class="form-control" name="ReviewDescription"></textarea>

                                    </div>
                                    <button class="btn btn-outline-primary-2 btn-minwidth-sm" type="submit">Add Review</button>
                                </form>

                            </div>
                        </div><!-- End .widget -->
                    </div><!-- End .sidebar sidebar-product -->
                </aside><!-- End .col-lg-3 -->
            </div><!-- End .row -->

        </div><!-- End .container -->
    </div><!-- End .page-content -->
</main><!-- End .main -->


<script src="https://kit.fontawesome.com/8234a58283.js" crossorigin="anonymous"></script>



<script>

    function addToCart(productId) {
        var audio = document.getElementById("audio");
        audio.play();
        console.log(productId);
        $.ajax({
            type: "Get",
            url: '/CartItems/_AddToCart',
            contentType: "application/json; charset=utf-8",
            data: { id: productId },
            dataType: "html",
            success: function (data) {
                console.log("succ");
                $("#cartCount").empty();
                $("#cartCount").html(data);
            }, error: function (error) {
                console.log("error");


            }
        });


    function setImageZoom(s) {
        var imageName = s.childNodes[1].currentSrc.split("https://localhost:44391/assets/images/ourimages/")[1];
        var img = document.getElementById("product-zoom");
        img.src = ;
    }

    function changeColorWishList() {
        const div = document.getElementById("wishlistColor");

        ; // false
        if (div.classList.contains('btn-color')) {
            let heart = document.querySelector(".btn-wishlist");
            heart.style.color = "red";
            //div.classList.remove('btn-color')
        }
        //else{
        //     div.classList.add('btn-color')
        //}
        // document.getElementById("myDIV").style.backgroundColor = "lightblue";
    }
</script>

















